@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;600;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #13183f;
  margin: 1rem;
}

.header-button {
  background-color: #13183f;
  color: white;
  border-radius: 50px;
  width: 8rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 600;
}

.intro-heading {
  color: #13183f;
  font-size: 2.5rem;
  margin: 1rem;
  margin-top: 2rem;
  font-weight: 800;
}

.intro-paragraph {
  color: #83869a;
  font-size: 1rem;
  margin: 1rem;
  line-height: 26px;
  font-weight: 500;
}

.intro-btn {
  background-color: #f00249bd;
  color: white;
  border-radius: 50px;
  width: 11rem;
  height: 3.5rem;
  font-size: 1rem;
  margin: 1rem;
  font-weight: 600;
}

.intro-image {
  width: 100%;
}

.intro-card {
  margin: 1rem;
  background-color: #f00249bd;
  color: white;
  height: 120px;
  border-radius: 10px;
  padding: 1.5rem;
  font-weight: 600;
  font-size: 1.5rem;
}
