@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #13183f;
  margin: 1rem;
}

.header-button {
  background-color: #13183f;
  color: white;
  border-radius: 50px;
  width: 8rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 600;
}

.intro-heading {
  color: #13183f;
  font-size: 2.5rem;
  margin: 1rem;
  margin-top: 2rem;
  font-weight: 800;
}

.intro-paragraph,
.course-card__description {
  color: #83869a;
  font-size: 1rem;
  margin: 1rem;
  line-height: 26px;
  font-weight: 500;
}

.intro-btn {
  background: linear-gradient(rgba(255, 136, 0, 0.651), #f00249bd 50%);
  color: white;
  border-radius: 50px;
  width: 11rem;
  height: 3.5rem;
  font-size: 1rem;
  margin: 1rem;
  font-weight: 600;
}

.intro-image {
  background: url(./assets/image-hero-mobile.png) no-repeat center;
  height: 50vh;
  width: 100%;
  margin: auto;
}

.intro-card {
  margin: 1rem;
  background: linear-gradient(rgba(255, 136, 0, 0.651), #f00249bd 50%);
  color: white;
  height: 120px;
  border-radius: 10px;
  padding: 1.5rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.course-card {
  margin: 1rem;
  width: 80%;
  margin: 1.8rem auto;
  border-radius: 5px;
}

.course-card__heading {
  color: #13183f;
  font-weight: 800;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.course-card__description {
  margin: 0;
}

.course-card__link {
  display: inline-block;
  text-decoration: none;
  margin: 1rem 0;
  color: #f74780;
  font-weight: 700;
  font-size: 1rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
  background-color: #13183f;
  height: 8rem;
}

.footer-button {
  background: linear-gradient(#3746b9 5%, #f74780);
  color: white;
  border-radius: 50px;
  width: 8rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 600;
}
