@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background: linear-gradient(#ffffff 50%, #f2f2f2);
}

.main-wrapper {
  min-height: calc(100vh - 8rem);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #13183f;
  margin: 1rem;
}

.header-button {
  background-color: #13183f;
  color: white;
  border-radius: 50px;
  width: 9.5rem;
  height: 3rem;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
}

.header-button:hover {
  background-color: #666ca3;
  cursor: pointer;
}

.intro-heading {
  color: #13183f;
  font-size: 36px;
  line-height: 50px;
  font-weight: 800;
  margin: 1rem;
  margin-top: 2rem;
}

.intro-paragraph,
.course-card__description {
  color: #83869a;
  font-size: 16px;
  margin: 1rem;
  line-height: 28px;
  font-weight: 500;
}

.intro-btn {
  background: linear-gradient(#ff6f48, #f02aa6);
  color: white;
  border-radius: 50px;
  width: 10rem;
  height: 3.5rem;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  margin: 1rem;
}

.intro-btn:hover {
  background: linear-gradient(#ff6f48, #ffa7c3);
  cursor: pointer;
}

.intro-image {
  background: url(./assets/image-hero-mobile.png) no-repeat center;
  height: 50vh;
  width: 100%;
  margin: auto;
}

.intro-card {
  margin: 1rem;
  background: linear-gradient(#ff6f48, #f02aa6);
  color: white;
  border-radius: 10px;
  padding: 1.5rem;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
}

.course-card {
  padding: 1rem;
  padding-bottom: 0;
  width: 80%;
  margin: 2.5rem auto;
  border-radius: 10px;
  background-color: white;
}

.course-card__heading {
  color: #13183f;
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  line-height: 28px;
}

.course-card__logo {
  position: relative;
  top: -45px;
}

.course-card__description {
  margin: 0;
}

.course-card__link {
  display: inline-block;
  text-decoration: none;
  margin-top: 1.5rem;
  color: #f74780;
  font-weight: 700;
  font-size: 1rem;
}

.footer {
  display: flex;
  align-items: center;
  background-color: #13183f;
  height: 7rem;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #ffffff;
  width: 100%;
}

.footer-button {
  background: linear-gradient(#4851ff, #f02aa6);
  color: #ffffff;
  border-radius: 50px;
  width: 8rem;
  height: 3rem;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
}

.footer-button:hover {
  background: linear-gradient(#4851ff, #ffa7c3);
  cursor: pointer;
}

@media (min-width: 768px) {
  .hero-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 70vh;
    background-image: url(./assets/image-hero-tablet.png);
    background-repeat: no-repeat;
    background-position: bottom left;
  }

  .header-button {
    z-index: 1;
  }

  .main-wrapper {
    width: 85%;
    margin: auto;
  }
  .intro-heading{
    font-size: 36px;
  }
  .intro-text {
    height: 50vh;
    width: 48%;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .intro-image {
    display: none;
  }

  .intro-paragraph,
  .course-card__description {
    font-size: 16px;
    font-weight: 500;
  }

  .course-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 4rem;
  }

  .intro-card {
    height: 30vh;
    padding: 3rem;
  }

  .intro-card,
  .course-card {
    width: 47%;
  }
}

@media (min-width: 992px) {
  .hero-image {
    height: 95vh;
    background-image: url(./assets/image-hero-desktop.png);
    background-position: 18px -180px;
    background-size: auto 120%;
  }

  .intro-heading {
    font-size: 56px;
    line-height: 70px;
  }
  .intro-text {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  .intro-card {
    font-size: 1.8rem;
  }

  .intro-card,
  .course-card {
    width: 30%;
  }

  .footer-wrapper {
    width: 80%;
    margin: auto;
  }

  .main-wrapper {
    width: 80%;
    margin: auto;
  }
}
